@import "./theme.scss";

.title {
    text-align: center;
    padding: 50px;
    color: red;
    font-size: 32px;
}

.contain {
    font-weight: $font-weight;
    width: 1000px;
    padding: 10px;
    margin: auto;
    background-color: #fff;
    // @include ellipsis(1);
    color: $color-theme;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(182, 179, 179, 0.795);
}